**/.vscode/
Literatuur/
LaTeX/
Presentations/
# Exclude all .out directories, unless they contain .ovf or .txt
inputfiles/**/*.out/*
!inputfiles/**/*.out/*.ovf
!inputfiles/**/*.out/*.txt
inputfiles/test